/* Define the Monster Energy font */
@font-face {
  font-family: 'Dream';
  src: url('/fonts/Dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to the body */
body {
  font-family: 'Dream';
}

/* Optional: You can apply this font to specific sections or components if needed */
h1, h2, h3, p {
  font-family: 'Dream';
}
